#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/stp.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/pointing.h>

#include "include/adv360.h"
#include "include/helper.h"
#include "ansi-jis.dtsi"

#define BASE  0
#define BREV  1
#define ANSI  2
#define AREV  3
#define SYMJ  4
#define SYM   5
#define KP    6
#define FNJ   7
#define FN    8
#define MOD   9

#define LCS LC(LSHFT)
#define RCS RC(RSHFT)
#define LCA LC(LALT)
#define RCA RC(RALT)
#define HYP LC(LS(LA(LGUI)))
#define MEH LC(LS(LALT))
#define CAD LC(LA(DEL))
#define CAI LC(LA(INS))
#define ST  LG(TAB)
#define GG  LG(GRAVE)
#define HYP6 LC(LS(LA(LG(N6))))
#define HYP7 LC(LS(LA(LG(N7))))
#define W_CP LC(INS)
#define W_PT LS(INS)
#define C_PD LC(PG_DN)
#define C_PU LC(PG_UP)
#define W_PSC LG(PSCRN)
#define S_DEL LS(DEL)

#define BT0 &bt BT_SEL 0
#define BT1 &bt BT_SEL 1
#define BT2 &bt BT_SEL 2
#define BT3 &bt BT_SEL 3
#define BT4 &bt BT_SEL 4

#define XXX &none
#define ___ &trans

#define JRBR BSLS
#define JLBR RBRC

/* Global defaults */

#define QUICK_TAP_MS 175

&sk {
  release-after-ms = <900>;
  quick-release;
};

&sl { // Allow sticky mods to chord across sticky layers.
  ignore-modifiers;
};

&lt {
  flavor = "balanced";
  tapping-term-ms = <200>;
  // quick-tap-ms = <QUICK_TAP_MS>;
};

/* Magic-shift & auto-layers */

// Tap: repeat after alpha, else sticky-shift |
// Shift + tap/ double-tap: caps-word | Hold: shift.
/* #define ms &magic_shift LSHFT 0 */
/* ZMK_HOLD_TAP(magic_shift, bindings = <&kp>, <&magic_shift_tap>; */
/*              flavor = "balanced"; tapping-term-ms = <200>; */
/*              quick-tap-ms = <QUICK_TAP_MS>;) */
/* ZMK_MOD_MORPH(magic_shift_tap, bindings = <&shift_repeat>, <&caps_word>; */
/*               mods = <(MOD_LSFT)>;) */
/* ZMK_ADAPTIVE_KEY( */
/*     shift_repeat, bindings = <&sk LSHFT>; */
/*     repeat { */
/*       trigger-keys = <A B C D E F G H I J K L M N O P Q R S T U V W X Y Z 1 2 3 4 5 6 7 8 9>; */
/*       bindings = <&key_repeat>; */
/*       max-prior-idle-ms = <1200>; */
/*       strict-modifiers; */
/*     };) */
&caps_word { // Mods deactivate caps-word, requires PR #1451. [TODO: rebase]
  /delete-property/ ignore-modifiers;
  continue-list = <UNDERSCORE MINUS LS(INT1) BACKSPACE DELETE>;
};

/ {
    behaviors {
      #include "macros.dtsi"
      #include "version.dtsi"
      #include "switch_bt.dtsi"
      
      mv: macro_version {
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        bindings = <&kp RET>;
      };

      hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <180>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };

      ms: magic_shift {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        tapping-term-ms = <200>;
        bindings = <&sk LSHFT>, <&caps_word>;
      };

    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
          display-name = "BASE";
          bindings = <
            &kp DEL      MJ_N1    MJ_N2    MJ_N3    MJ_N4     MJ_N5 &tog KP                                                            &mo MOD  MJ_N6  MJ_N7    MJ_N8  MJ_N9     MJ_N0     MJ_BP
            MJ_EP        &kp Q    &kp W    &kp E    &kp R     &kp T &to BREV                                                           &to AREV &kp Y  &kp U    &kp I  &kp O     &kp P     MJ_MU
            MJ_GT        &kp A    &kp S    &kp D    &kp F     &kp G &to BASE          &kp LCTRL &kp LGUI &kp LANG2 &kp LANG1           &to ANSI &kp H  &kp J    &kp K  &kp L     MJ_SC     MJ_QD
            &mo SYMJ     &kp Z    &kp X    &kp C    &kp V     &kp B                             &kp LALT &kp ESC                                &kp N  &kp M    MM_CC  MM_DD     &kp FSLH  &mo SYMJ
            &hm LCS HYP7 &kp EXCL &kp LBKT &kp LEFT &kp RIGHT                &kp BSPC &ms       &kp HYP  &kp TAB   &kp ENTER &kp SPACE                 &kp DOWN &kp UP &kp PRCNT &kp CARET &hm RCS HYP6 
          >;
        };

        layer_default_reverse {
          display-name = "BASE_R";
          bindings = <
            &kp DEL      &kp N1 AJ_N2   &kp N3   &kp N4    &kp N5 &tog KP                                                           &mo MOD  AJ_N6  AJ_N7    AJ_N8     AJ_N9    AJ_N0    MJ_BP
            MJ_EP        &kp Q  &kp W   &kp E    &kp R     &kp T  &to BREV                                                          &to AREV &kp Y  &kp U    &kp I     &kp O    &kp P    MJ_MU
            MJ_GT        &kp A  &kp S   &kp D    &kp F     &kp G  &to BASE          &kp LCTRL &kp LGUI &kp LANG2 &kp LANG1          &to ANSI &kp H  &kp J    &kp K     &kp L    MJ_SC    MJ_QD
            &mo SYMJ     &kp Z  &kp X   &kp C    &kp V     &kp B                              &kp LALT &kp ESC                               &kp N  &kp M    &kp COMMA &kp DOT  &kp FSLH &mo SYMJ
            &hm LCS HYP7 MJ_GT  &kp DEL &kp LEFT &kp RIGHT                 &kp BSPC &ms       &kp HYP  &kp TAB  &kp ENTER &kp SPACE                 &kp DOWN &kp UP    &kp RBRC &kp BSLH &hm RCS HYP6 
          >;
        };

        layer_ansi {
          display-name = "ANSI";
          bindings = <
            &kp DEL      MM_N1    MM_N2  MM_N3    MM_N4     MM_N5 &tog KP                                                            &mo MOD  MM_N6 MM_N7    MM_N8  MM_N9     MM_N0    &kp BSLH
            &kp EQUAL    &kp Q    &kp W  &kp E    &kp R     &kp T &to BREV                                                           &to AREV &kp Y &kp U    &kp I  &kp O     &kp P    &kp MINUS
            &kp GRAVE    &kp A    &kp S  &kp D    &kp F     &kp G &to BASE          &kp LCTRL &kp LGUI &kp LANG2 &kp LANG1           &to ANSI &kp H &kp J    &kp K  &kp L     &kp SEMI &kp SQT
            &mo SYM      &kp Z    &kp X  &kp C    &kp V     &kp B                             &kp LALT &kp ESC                                &kp N &kp M    MM_CC  MM_DD     &kp FSLH &mo SYM
            &hm LCS HYP7 &kp EXCL &kp AT &kp LEFT &kp RIGHT                &kp BSPC &ms       &kp HYP  &kp TAB   &kp ENTER &kp SPACE                &kp DOWN &kp UP &kp PRCNT &kp AMPS &hm RCS HYP6 
          >;
        };

        layer_ansi_reverse {
          display-name = "ANSI_R";
          bindings = <
            &kp DEL      &kp N1    &kp N2  &kp N3   &kp N4    &kp N5 &tog KP                                                           &mo MOD  &kp N6 &kp N7   &kp N8    &kp N9   &kp N0   &kp BSLH
            &kp EQUAL    &kp Q     &kp W   &kp E    &kp R     &kp T  &to BREV                                                          &to AREV &kp Y  &kp U    &kp I     &kp O    &kp P    &kp MINUS
            &kp GRAVE    &kp A     &kp S   &kp D    &kp F     &kp G  &to BASE          &kp LCTRL &kp LGUI &kp LANG2 &kp LANG1          &to ANSI &kp H  &kp J    &kp K     &kp L    &kp SEMI &kp SQT
            &mo SYM      &kp Z     &kp X   &kp C    &kp V     &kp B                              &kp LALT &kp ESC                               &kp N  &kp M    &kp COMMA &kp DOT  &kp FSLH &mo SYM
            &hm LCS HYP7 &kp GRAVE &kp DEL &kp LEFT &kp RIGHT                 &kp BSPC &ms       &kp HYP  &kp TAB   &kp ENTER &kp SPACE                &kp DOWN &kp UP    &kp LBKT &kp RBKT &hm RCS HYP6 
          >;
        };

        layer_symbol_with_jis {
          display-name = "Sym_JIS";
          bindings = <
            &kp CAD &kp F1 &kp F2 &kp F3   &kp F4   &kp F5 XXX                                                 XXX &kp F6   &kp F7   &kp F8   &kp F9    &kp F10   &kp F11
            &kp CAI XXX  XXX      XXX      XXX      XXX    XXX                                                 XXX XXX      XXX      XXX      XXX       &kp PSCRN &kp F12
            XXX     XXX  XXX      XXX      XXX      XXX    XXX           XXX     ___ ___ XXX                   XXX &kp LEFT &kp DOWN &kp UP   &kp RIGHT &kp W_PSC &kp F13
            XXX     XXX  XXX      &kp W_CP &kp W_PT XXX                          ___ ___                           XXX      XXX      &kp LT   &kp GT    XXX       &kp F14
            XXX     XXX  XXX      XXX      XXX                 &kp S_DEL &kp DEL ___ ___ &kp LC(N2) &kp LC(N1)              &kp C_PU &kp C_PD XXX       XXX       &kp F15
          >;
        };

        layer_symbol {
          display-name = "Sym";
          bindings = <
            &kp GRAVE &kp F1    &kp F2    &kp F3    &kp F4   &kp F5    XXX                                                 XXX &kp F6   &kp F7   &kp F8   &kp F9    &kp F10   &kp F11
            &kp AT    &kp COMMA &kp SQT   &kp DQT   &kp SEMI &kp QMARK XXX                                                 XXX XXX      XXX      XXX      XXX       &kp PSCRN &kp F12
            &kp HASH  &kp CARET &kp EQUAL &kp UNDER &kp DLLR &kp STAR  XXX           XXX     ___ ___ XXX                   XXX &kp LEFT &kp DOWN &kp UP   &kp RIGHT &kp W_PSC &kp F13
            &kp TILDE &kp LT    &kp PIPE  &kp MINUS &kp GT   &kp FSLH                        ___ ___                           XXX      XXX      &kp LT   &kp GT    XXX       &kp F14
            XXX       XXX       XXX       XXX       XXX                    &kp S_DEL &kp DEL ___ ___ &kp LC(N2) &kp LC(N1)              &kp C_PU &kp C_PD XXX       XXX       &kp F15
          >;
        };

        layer_keypad {
          display-name = "Kp";
          bindings = <
            &kp GRAVE &kp N1  &kp N2    &kp N3   &kp N4    &kp N5 &tog KP                                                           &mo MOD &kp N6 &kp KP_NUM &kp N8    &kp KP_DIVIDE &kp KP_MULTIPLY &kp MINUS
            &kp TAB   &kp Q   &kp W     &kp E    &kp R     &kp T  XXX                                                               XXX     &kp Y  &kp KP_N7  &kp KP_N8 &kp KP_N9     &kp KP_MINUS    &kp LEFT_BRACKET
            &kp CAPS  &kp A   &kp S     &kp D    &kp F     &kp G  XXX            &kp LCTRL &kp LALT &kp LGUI  &kp RCTRL             XXX     &kp H  &kp KP_N4  &kp KP_N5 &kp KP_N6     &kp KP_PLUS     &kp SINGLE_QUOTE
            &sk LSHFT &kp Z   &kp X     &kp C    &kp V     &kp B                           &kp HOME &kp PG_UP                               &kp N  &kp KP_N1  &kp KP_N2 &kp KP_N3     &kp KP_ENTER    &sk RSHFT
            &mo FN    &kp ESC &kp EQUAL &kp LEFT &kp RIGHT                &kp BSPC &kp DEL &kp END  &kp PG_DN &kp ENTER &kp KP_N0                  &kp UP     &kp DOWN  &kp KP_DOT    &kp KP_ENTER    &mo FN
          >;
        };

        layer_fn_jis {
          display-name = "FnJIS";
          bindings = <
            ___      &kp F1    &kp F2   &kp F3     &kp F4       &kp F5       &tog KP                                       &mo MOD &kp F6    &kp F7    &kp F8  &kp F9    &kp F10   &kp F11
            ___      &kp PG_UP &kp HOME &kp C_PREV &kp C_BRI_UP &kp C_VOL_UP XXX                                           XXX     ___       &kp N7    &kp N8  &kp N9    &kp FSLH  &kp F12
            &kp SLCK &kp PG_DN &kp END  &kp C_NEXT &kp C_BRI_DN &kp C_VOL_DN XXX                ___     ___ ___ ___        XXX     &kp DOT   &kp N4    &kp N5  &kp N6    &kp DQT   &kp F13
            ___      ___       ___      &kp C_PP   ___          &kp C_MUTE                              ___ ___                    &kp SPACE &kp N1    &kp N2  &kp N3    &kp MINUS &kp F14
            ___      ___       ___      ___        ___                                &kp S_DEL &kp DEL ___ ___ ___ &kp N0                   &kp COMMA &kp DOT &kp EQUAL &kp PLUS  &kp F15
          >;
        };

        layer_fn {
          display-name = "Fn";
          bindings = <
            ___      &kp F1    &kp F2   &kp F3     &kp F4       &kp F5       &tog KP                                         &mo MOD &kp F6    &kp F7    &kp F8  &kp F9    &kp F10   &kp F11
            ___      &kp PG_UP &kp HOME &kp C_PREV &kp C_BRI_UP &kp C_VOL_UP XXX                                             XXX     ___       &kp N7    &kp N8  &kp N9    &kp FSLH  &kp F12
            &kp SLCK &kp PG_DN &kp END  &kp C_NEXT &kp C_BRI_DN &kp C_VOL_DN XXX               ___     ___ ___ ___           XXX     &kp DOT   &kp N4    &kp N5  &kp N6    &kp STAR  &kp F13
            ___      ___       ___      &kp C_PP   ___          &kp C_MUTE                             ___ ___                       &kp SPACE &kp N1    &kp N2  &kp N3    &kp MINUS &kp F14
            ___      ___       ___      ___        ___                               &kp S_DEL &kp DEL ___ ___ ___ &kp KP_N0                   &kp COMMA &kp DOT &kp EQUAL &kp PLUS  &kp F15
         >;
        };

        layer_mod {
          display-name = "Mod";
          bindings = <
            XXX BT0  BT1  BT2 BT3 BT4 XXX                                                           ___                    XXX  XXX        XXX        XXX XXX XXX
            XXX XXX  XXX  XXX XXX XXX &bootloader                                                   &bootloader            XXX  XXX        XXX        XXX XXX XXX
            XXX &bt0 &bt1 XXX XXX XXX XXX             XXX XXX &bt BT_CLR XXX                        &rgb_ug RGB_MEFS_CMD 5 XXX  XXX        XXX        XXX XXX XXX
            XXX XXX  XXX  XXX &mv XXX                     XXX XXX                                                          XXX  XXX        XXX        XXX XXX XXX
            XXX XXX  XXX  XXX XXX                 XXX XXX XXX XXX        &bl BL_TOG &rgb_ug RGB_TOG                             &bl BL_INC &bl BL_DEC XXX XXX XXX
          >;
        };

    };
};
