#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>

#define BASE 0
#define KP   1
#define FN   2
#define MOD  3
#define SYMJ 4
#define SYM  5
#define DEF  6
#define DEFR 7

&caps_word {
  continue-list = <UNDERSCORE MINUS LS(INT1) BACKSPACE DELETE>;
};

&sk {
  release-after-ms = <200>;
  quick-release;
};

/ {
    behaviors {
      #include "macros.dtsi"
      #include "version.dtsi"
      #include "ansi-jis.dtsi"
      #ifndef VERSION_MACRO
      macro_ver: macro_ver {
        compatible = "zmk,behavior-macro";
        label = "macro_version";
        #binding-cells = <0>;
        bindings = <&kp RET>;
      };
      #endif

      hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };

      td_sft: tap_dance_mod_tap {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        tapping-term-ms = <200>;
        bindings = <&sk LSHFT>, <&caps_word>;
      };
    };

    keymap {
        compatible = "zmk,keymap";


        default_layer {
          bindings = <
            &kp EQUAL  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5 &tog KP                                                              &mo MOD   &kp N6 &kp N7 &kp N8    &kp N9   &kp N0   &kp BSLH
            &kp TAB    &kp Q      &kp W     &kp E     &kp R      &kp T  &tog DEFR                                                            &tog DEF  &kp Y  &kp U  &kp I     &kp O    &kp P    &kp MINUS
            &kp ESC    &kp A      &kp S     &kp D     &kp F      &kp G  &kp CAPS            &kp LCTRL &kp LALT   &kp LGUI  &kp RCTRL         &tog FN   &kp H  &kp J  &kp K     &kp L    &kp SEMI &kp SQT
            &td_sft    &kp Z      &kp X     &kp C     &kp V      &kp B                                &kp DEL    &kp TAB                               &kp N  &kp M  &kp COMMA &kp DOT  &kp FSLH &td_sft 
            &mo FN     &kp GRAVE  &kp LGUI  &kp LEFT  &kp RIGHT                    &kp BSPC &mo FN    &kp LANG2  &kp LANG1 &kp ENTER &kp SPACE                &kp UP &kp DOWN  &kp LBKT &kp RBKT &mo FN
          >;
        };

        /* default_layer { */
        /*   bindings = < */
        /*     &ahj     &n1j   &n2j           &n3j      &n4j       &n5j   &tog KP                                                                   &mo MOD   &n6j    &n7j    &n8j       &n9j       &n0j      &bpj */
        /*     &epj     &kp Q  &kp W          &kp E     &kp R      &kp T  &tog DEFR                                                                 &tog DEF  &kp Y   &kp U   &kp I      &kp O      &kp P     &muj */
        /*     &gtj     &kp A  &kp S          &kp D     &kp F      &kp G  &kp CAPS           &kp LCTRL  &kp LALT   &kp LGUI   &kp RCTRL             &tog FN   &kp H   &kp J   &kp K      &kp L      &scj      &qdj */
        /*     &td_sft  &kp Z  &kp X          &kp C     &kp V      &kp B                                &kp DEL    &kp TAB                                    &kp N   &kp M   &kp COMMA  &kp DOT    &kp FSLH  &td_sft */
        /*     &mo FN   &caj   &mt LGUI CAPS  &kp LEFT  &kp RIGHT                  &kp BSPC  &kp SPACE  &kp LANG2  &kp LANG1  &kp ENTER  &kp ESC                      &kp UP  &kp DOWN   &tog DEFR  &dhj      &mo FN  */
        /*   >; */
        /* }; */

        layer_keypad {
          bindings = <
            &kp GRAVE  &kp N1   &kp N2     &kp N3    &kp N4    &kp N5  &tog KP                                                                 &mo MOD  &kp N6  &kp KP_NUM  &kp N8     &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp MINUS
            &kp TAB    &kp Q    &kp W      &kp E     &kp R     &kp T   &none                                                                   &none    &kp Y   &kp KP_N7   &kp KP_N8  &kp KP_N9      &kp KP_MINUS     &kp LEFT_BRACKET
            &kp CAPS   &kp A    &kp S      &kp D     &kp F     &kp G   &none             &kp LCTRL  &kp LALT  &kp LGUI   &kp RCTRL             &none    &kp H   &kp KP_N4   &kp KP_N5  &kp KP_N6      &kp KP_PLUS      &kp SINGLE_QUOTE
            &sk LSHFT  &kp Z    &kp X      &kp C     &kp V     &kp B                                &kp HOME  &kp PG_UP                                 &kp N   &kp KP_N1   &kp KP_N2  &kp KP_N3      &kp KP_ENTER     &sk RSHFT
            &mo FN     &kp ESC  &kp EQUAL  &kp LEFT  &kp RIGHT                 &kp BSPC  &kp DEL    &kp END   &kp PG_DN  &kp ENTER  &kp KP_N0                   &kp UP      &kp DOWN   &kp KP_DOT     &kp KP_ENTER     &mo FN
          >;
        };

        layer_fn {
          bindings = <
            &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6 &tog KP                                                &mo MOD  &kp F7  &kp F8    &kp F9    &kp F10    &kp F11     &kp F12
            &trans  &trans  &trans  &trans  &trans  &trans &none                                                  &none    &trans  &kp LBRC  &kp RBRC  &kp CARET  &kp DOLLAR  &trans
            &trans  &trans  &trans  &trans  &trans  &trans &none          &trans  &trans  &trans  &trans          &tog FN  &trans  &kp LPAR  &kp RPAR  &kp EQUAL  &kp MINUS   &trans
            &trans  &trans  &trans  &trans  &trans  &trans                        &trans  &trans                           &trans  &kp LBKT  &kp RBKT  &kp UNDER  &kp PLUS    &trans
            &trans  &trans  &trans  &trans  &trans                &trans  &trans  &trans  &trans  &trans  &trans           &trans  &trans    &trans    &trans     &trans
          >;
        };

        layer_mod {
          bindings = <
            &none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                                        &trans                  &none  &none       &none       &none   &none   &none
            &none         &none         &none         &none         &none         &none  &bootloader                                                                  &bootloader             &none  &none       &none       &none   &none   &none
            &none         &none         &none         &none         &none         &none  &none                &none   &none  &bt BT_CLR  &none                        &rgb_ug RGB_MEFS_CMD 5  &none  &none       &none       &none   &none   &none
            &none         &none         &none         &none         &macro_ver    &none                               &none  &none                                                            &none  &none       &none       &none   &none   &none
            &none         &none         &none         &none         &none                             &none   &none   &none  &none       &bl BL_TOG  &rgb_ug RGB_TOG                                 &bl BL_INC  &bl BL_DEC  &none   &none   &none
          >;
        };

        layer_symbol_with_jis {
          bindings = <
            &none  &none     &none        &none     &none     &none         &none                                            &none  &none  &none  &none  &none  &none  &none
            &none  &none     &none        &kp RBRC  &kp PIPE  &none         &none                                            &none  &none  &none  &none  &none  &none  &none
            &none  &kp LBRC  &kp UNDER    &kp STAR  &kp LPAR  &kp MINUS     &none         &none  &none  &none  &none         &none  &none  &none  &none  &none  &none  &none
            &none  &kp PLUS  &kp KP_PLUS  &kp RBKT  &kp BSLH  &kp LS(INT1)                       &none  &none                       &none  &none  &none  &none  &none  &none
            &none  &none     &none        &none     &none                          &none  &none  &none  &none  &none  &none                &none  &none  &none  &none  &none
          >;
        };

        layer_symbol {
          bindings = <
            &none  &none  &none      &none     &none     &none  &none                                            &none  &none  &none  &none  &none  &none  &none
            &none  &none  &none      &kp LBRC  &kp RBRC  &none  &none                                            &none  &none  &none  &none  &none  &none  &none
            &none  &none  &kp EQUAL  &kp LPAR  &kp RPAR  &none  &none         &none  &none  &none  &none         &none  &none  &none  &none  &none  &none  &none
            &none  &none  &kp UNDER  &kp LBKT  &kp RBKT  &none                       &none  &none                       &none  &none  &none  &none  &none  &none
            &none  &none  &none      &none     &none                   &none  &none  &none  &none  &none  &none                &none  &none  &none  &none  &none
          >;
        };

        layer_qwerty {
          bindings = <
            &kp EQUAL  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5 &tog KP                                                              &mo MOD   &kp N6 &kp N7 &kp N8    &kp N9   &kp N0   &kp MINUS
            &kp TAB    &kp Q      &kp W     &kp E     &kp R      &kp T  &tog DEFR                                                            &tog DEF  &kp Y  &kp U  &kp I     &kp O    &kp P    &kp BSLH
            &kp ESC    &kp A      &kp S     &kp D     &kp F      &kp G  &kp CAPS            &kp LCTRL &kp LALT &kp LGUI  &kp RCTRL           &tog FN   &kp H  &kp J  &kp K     &kp L    &kp SEMI &kp SQT
            &sk LSHFT  &kp Z      &kp X     &kp C     &kp V      &kp B                                &kp HOME &kp PG_UP                               &kp N  &kp M  &kp COMMA &kp DOT  &kp FSLH &sk RSHFT
            &mo FN     &kp GRAVE  &kp LGUI  &kp LEFT  &kp RIGHT                    &kp BSPC &kp DEL   &kp END  &kp PG_DN &kp ENTER &kp SPACE                &kp UP &kp DOWN  &kp LBKT &kp RBKT &mo FN
          >;
        };

        layer_qwerty_reverse {
          bindings = <
            &ahj     &kp N1 &kp N2         &kp N3    &kp N4     &kp N5  &tog KP                                                                   &mo MOD   &kp N6  &kp N7  &kp N8     &kp N9     &kp N0    &bpj
            &epj     &kp Q  &kp W          &kp E     &kp R      &kp T   &tog DEFR                                                                 &tog DEF  &kp Y   &kp U   &kp I      &kp O      &kp P     &muj
            &gtj     &kp A  &kp S          &kp D     &kp F      &kp G   &kp CAPS             &kp LCTRL  &kp LALT   &kp LGUI   &kp RCTRL           &tog FN   &kp H   &kp J   &kp K      &kp L      &scj      &qdj
            &td_sft  &kp Z  &kp X          &kp C     &kp V      &kp B                                   &kp DEL    &kp TAB                                  &kp N   &kp M   &kp COMMA  &kp DOT    &kp FSLH  &td_sft
            &mo FN   &caj   &mt LGUI CAPS  &kp LEFT  &kp RIGHT                     &kp BSPC  &kp SPACE  &kp LANG2  &kp LANG1  &kp ENTER  &kp ESC                    &kp UP  &kp DOWN   &tog DEFR  &dhj      &mo FN 
          >;
        };
    };
};
