// Define mod-morph with a *single* mod trigger for less repetition.
#define SIMPLE_MORPH(NAME, MOD, BINDING1, BINDING2)                            \
  ZMK_MOD_MORPH(NAME, mods = <(MOD_L##MOD | MOD_R##MOD)>;                      \
                bindings = <BINDING1>, <BINDING2>;)

/* Programmer's Qwerty shifts morphs */
SIMPLE_MORPH(star_n1,         SFT, &kp STAR,  &kp N1      )
SIMPLE_MORPH(lbkt_n2,         SFT, &kp LBKT,  &kp N2      )
SIMPLE_MORPH(lbrc_n3,         SFT, &kp LBRC,  &kp N3      )
SIMPLE_MORPH(lpar_n4,         SFT, &kp LPAR,  &kp N4      )
SIMPLE_MORPH(hash_n5,         SFT, &kp HASH,  &kp N5      )
SIMPLE_MORPH(caret_n6,        SFT, &kp CARET, &kp N6      )
SIMPLE_MORPH(rpar_n7,         SFT, &kp RPAR,  &kp N7      )
SIMPLE_MORPH(rbrc_n8,         SFT, &kp RBRC,  &kp N8      )
SIMPLE_MORPH(rbkt_n9,         SFT, &kp RBKT,  &kp N9      )
SIMPLE_MORPH(dllr_n0,         SFT, &kp DLLR,  &kp N0      )
SIMPLE_MORPH(excl_gt,         SFT, &kp EXCL,  &kp LT      )
SIMPLE_MORPH(at_lt,           SFT, &kp AT,    &kp GT      )
SIMPLE_MORPH(prcnt_amps,      SFT, &kp PRCNT, &kp AMPS    )
SIMPLE_MORPH(comma_comma,     SFT, &kp COMMA, &kp COMMA   )
SIMPLE_MORPH(dot_dot,         SFT, &kp DOT,   &kp DOT     )
/* Programmer's Qwerty shifts morph&kp s with &kp JIS */
SIMPLE_MORPH(jis_star_n1,     SFT, &kp DQT,   &kp N1      )
SIMPLE_MORPH(jis_lbkt_n2,     SFT, &kp RBKT,  &kp N2      )
SIMPLE_MORPH(jis_lbrc_n3,     SFT, &kp RBRC,  &kp N3      )
SIMPLE_MORPH(jis_lpar_n4,     SFT, &kp STAR,  &kp N4      )
SIMPLE_MORPH(jis_hash_n5,     SFT, &kp HASH,  &kp N5      )
SIMPLE_MORPH(jis_caret_n6,    SFT, &kp EQUAL, &kp N6      )
SIMPLE_MORPH(jis_rpar_n7,     SFT, &kp LPAR,  &kp N7      )
SIMPLE_MORPH(jis_rbrc_n8,     SFT, &kp PIPE,  &kp N8      )
SIMPLE_MORPH(jis_rbkt_n9,     SFT, &kp BSLH,  &kp N9      )
SIMPLE_MORPH(jis_dllr_n0,     SFT, &kp DLLR,  &kp N0      )
SIMPLE_MORPH(jis_excl_gt,     SFT, &kp EXCL,  &kp LT      )
SIMPLE_MORPH(jis_at_lt,       SFT, &kp LBKT,  &kp GT      )
SIMPLE_MORPH(jis_prcnt_amps,  SFT, &kp PRCNT, &kp CARET   )
SIMPLE_MORPH(jis_grave_tilde, SFT, &kp LBRC,  &kp PLUS    )
SIMPLE_MORPH(jis_equal_plus,  SFT, &kp UNDER, &kp LS(SEMI))
SIMPLE_MORPH(jis_minus_under, SFT, &kp MINUS, &kp LS(INT1))
SIMPLE_MORPH(jis_bslh_pipe,   SFT, &kp INT3,  &kp LS(INT3))
SIMPLE_MORPH(jis_sqt_dqt,     SFT, &kp AMPS,  &kp AT      )
SIMPLE_MORPH(jis_semi_colon,  SFT, &kp SEMI,  &kp SQT     )
/* Convert from JIS to ANSI */
SIMPLE_MORPH(aj_n2_at,       SFT, &kp N2, &kp LBKT       )
SIMPLE_MORPH(aj_n6_caret,    SFT, &kp N6, &kp EQUAL      )
SIMPLE_MORPH(aj_n7_amps,     SFT, &kp N7, &kp CARET      )
SIMPLE_MORPH(aj_n8_star,     SFT, &kp N8, &kp DQT        )
SIMPLE_MORPH(aj_n9_lpar,     SFT, &kp N9, &kp STAR       )
SIMPLE_MORPH(aj_n0_rpar,     SFT, &kp N0, &kp LPAR       )

#define MM_N1 &star_n1
#define MM_N2 &lbkt_n2
#define MM_N3 &lbrc_n3
#define MM_N4 &lpar_n4
#define MM_N5 &hash_n5
#define MM_N6 &caret_n6
#define MM_N7 &rpar_n7
#define MM_N8 &rbrc_n8
#define MM_N9 &rbkt_n9
#define MM_N0 &dllr_n0
#define MM_EL &excl_lt
#define MM_AG &at_gt
#define MM_PA &prcnt_amps
#define MM_CC &comma_comma
#define MM_DD &dot_dot

#define MJ_N1 &jis_star_n1
#define MJ_N2 &jis_lbkt_n2
#define MJ_N3 &jis_lbrc_n3
#define MJ_N4 &jis_lpar_n4
#define MJ_N5 &jis_hash_n5
#define MJ_N6 &jis_caret_n6
#define MJ_N7 &jis_rpar_n7
#define MJ_N8 &jis_rbrc_n8
#define MJ_N9 &jis_rbkt_n9
#define MJ_N0 &jis_dllr_n0
#define MJ_EL &jis_excl_lt
#define MJ_AG &jis_at_gt
#define MJ_PA &jis_prcnt_amps
#define MJ_GT &jis_grave_tilde
#define MJ_EP &jis_equal_plus
#define MJ_MU &jis_minus_under
#define MJ_BP &jis_bslh_pipe
#define MJ_QD &jis_sqt_dqt
#define MJ_SC &jis_semi_colon

#define AJ_N2 &aj_n2_at
#define AJ_N6 &aj_n6_caret
#define AJ_N7 &aj_n7_amps
#define AJ_N8 &aj_n8_star
#define AJ_N9 &aj_n9_lpar
#define AJ_N0 &aj_n0_rpar

/* Programmer's Qwerty shifts morphs */
/*   star_n1: star_n1 { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "star_n1"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp STAR>, <&kp N1>; */
/*   }; */
/*   lbkt_n2: lbkt_n2 { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "lbkt_n2"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp LBKT>, <&kp N2>; */
/*   }; */
/*   lbrc_n3: lbrc_n3 { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "lbrc_n3"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp LBRC>, <&kp N3>; */
/*   }; */
/*   lpar_n4: lpar_n4 { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "lpar_n4"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp LPAR>, <&kp N4>; */
/*   }; */
/*   hash_n5: hash_n5 { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "hash_n5"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp HASH>, <&kp N5>; */
/*   }; */
/*   caret_n6: caret_n6 { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "caret_n6"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp CARET>, <&kp N6>; */
/*   }; */
/*   rpar_n7: rpar_n7 { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "rpar_n7"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp RPAR>, <&kp N7>; */
/*   }; */
/*   rbrc_n8: rbrc_n8 { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "rbrc_n8"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp RBRC>, <&kp N8>; */
/*   }; */
/*   rbkt_n9: rbkt_n9 { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "rbkt_n9"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp RBKT>, <&kp N9>; */
/*   }; */
/*   dllr_n0: dllr_n0 { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "dllr_n0"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp DLLR>, <&kp N0>; */
/*   }; */
/*   excl_gt: excl_gt { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "excl_gt"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp EXCL>, <&kp GT>; */
/*   }; */
/*   at_lt: at_lt { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "at_lt"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp AT>, <&kp LT>; */
/*   }; */
/*   prcnt_amps: prcnt_amps { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "prcnt_amps"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp PRCNT>, <&kp AMPS>; */
/*   }; */
/*   comma_comma: comma_comma { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "comma_comma"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp COMMA>, <&kp COMMA>; */
/*   }; */
/*   dot_dot: dot_dot { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "dot_dot"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp DOT>, <&kp DOT>; */
/*   }; */
/**/
/* Programmer's Qwerty shifts morph&kp s with &kp JIS */
/*   jis_star_n1: jis_star_n1 { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "jis_star_n1"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp DQT>, <&kp N1>; */
/*   }; */
/*   jis_lbkt_n2: jis_lbkt_n2 { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "jis_lbkt_n2"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp RBKT>, <&kp N2>; */
/*   }; */
/*   jis_lbrc_n3: jis_lbrc_n3 { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "jis_lbrc_n3"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp RBRC>, <&kp N3>; */
/*   }; */
/*   jis_lpar_n4: jis_lpar_n4 { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "jis_lpar_n4"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp STAR>, <&kp N4>; */
/*   }; */
/*   jis_hash_n5: jis_hash_n5 { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "jis_hash_n5"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp HASH>, <&kp N5>; */
/*   }; */
/*   jis_caret_n6: jis_caret_n6 { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "jis_caret_n6"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp EQUAL>, <&kp N6>; */
/*   }; */
/*   jis_rpar_n7: jis_rpar_n7 { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "jis_rpar_n7"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp LPAR>, <&kp N7>; */
/*   }; */
/*   jis_rbrc_n8: jis_rbrc_n8 { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "jis_rbrc_n8"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp PIPE>, <&kp N8>; */
/*   }; */
/*   jis_rbkt_n9: jis_rbkt_n9 { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "jis_rbkt_n9"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp BSLH>, <&kp N9>; */
/*   }; */
/*   jis_dllr_n0: jis_dllr_n0 { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "jis_dllr_n0"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp DLLR>, <&kp N0>; */
/*   }; */
/*   jis_excl_gt: jis_excl_gt { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "jis_excl_gt"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp EXCL>, <&kp GT>; */
/*   }; */
/*   jis_at_lt: jis_at_lt { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "jis_at_lt"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp LBKT>, <&kp LT>; */
/*   }; */
/*   jis_prcnt_amps: jis_prcnt_amps { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "jis_prcnt_amps"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp PRCNT>, <&kp CARET>; */
/*   }; */
/*   jis_grave_tilde: jis_grave_tilde { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "jis_grave_tilde"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp LBRC>, <&kp PLUS>; */
/*   }; */
/*   jis_equal_plus: jis_equal_plus { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "jis_equal_plus"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp LBRC>, <&kp PLUS>; */
/*   }; */
/*   jis_minus_under: jis_minus_under { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "jis_minus_under"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp MINUS>, <&kp LS(INT1)>; */
/*   }; */
/*   jis_bslh_pipe: jis_bslh_pipe { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "jis_bslh_pipe"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp INT3>, <&kp LS(INT3)>; */
/*   }; */
/*   jis_sqt_dqt: jis_sqt_dqt { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "jis_sqt_dqt"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp AMPS>, <&kp AT>; */
/*   }; */
/*   jis_semi_colon: jis_semi_colon { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "jis_semi_colon"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp SEMI>, <&kp SQT>; */
/*   }; */
/**/
/* Convert from JIS to ANSI */
/*   aj_n2_at: aj_n2_at { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "aj_n2_at"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp N2>, <&kp LBKT>; */
/*   }; */
/*   aj_n6_caret: aj_n6_caret { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "aj_n6_caret"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp N6>, <&kp EQUAL>; */
/*   }; */
/*   aj_n7_amps: aj_n7_amps { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "aj_n7_amps"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp N7>, <&kp CARET>; */
/*   }; */
/*   aj_n8_star: aj_n8_star { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "aj_n8_star"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp N8>, <&kp DQT>; */
/*   }; */
/*   aj_n9_lpar: aj_n9_lpar { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "aj_n9_lpar"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp N9>, <&kp STAR>; */
/*   }; */
/*   aj_n0_rpar: aj_n0_rpar { */
/*     compatible = "zmk,behavior-mod-morph"; */
/*     #binding-cells = <0>; */
/*     label = "aj_n0_rpar"; */
/*     mods = <(MOD_LSFT|MOD_RSFT)>; */
/*     bindings = <&kp N0>, <&kp LPAR>; */
/*   }; */
