  n2j: ansi_n2_and_at_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N2_WITH_JIS";
    #binding-cells = <0>;
    bindings = <&kp N2>, <&kp LEFT_BRACKET>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n6j: ansi_n6_and_caret_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N6_WITH_JIS";
    #binding-cells = <0>;
    bindings = <&kp N6>, <&kp EQUAL>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n7j: ansi_n7_and_ampersand_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N7_WITH_JIS";
    #binding-cells = <0>;
    bindings = <&kp N7>, <&kp CARET>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n8j: ansi_n8_and_asterisk_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N8_WITH_JIS";
    #binding-cells = <0>;
    bindings = <&kp N8>, <&kp DOUBLE_QUOTES>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n9j: ansi_n9_and_left_parenthesis_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N9_WITH_JIS";
    #binding-cells = <0>;
    bindings = <&kp N9>, <&kp ASTERISK>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n0j: ansi_n0_and_right_parenthesis_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N0_WITH_JIS";
    #binding-cells = <0>;
    bindings = <&kp N0>, <&kp LEFT_PARENTHESIS>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  gtj: ansi_grave_and_tilde_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_GRAVE_WITH_JIS";
    #binding-cells = <0>;
    bindings = <&kp LEFT_BRACE>, <&kp PLUS>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  epj: ansi_equal_and_plus_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_EQUAL_WITH_JIS";
    #binding-cells = <0>;
    bindings = <&kp UNDERSCORE>, <&kp LS(SEMI)>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  muj: ansi_minus_and_underscore_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_MINUS_WITH_JIS";
    #binding-cells = <0>;
    bindings = <&kp MINUS>, <&kp LS(INT1)>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  bpj: ansi_backslash_and_pipe_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_BACKSLASH_WITH_JIS";
    #binding-cells = <0>;
    bindings = <&kp INT3>, <&kp LS(INT3)>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  qdj: ansi_quote_and_doublequote_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_QUOTE_WITH_JIS";
    #binding-cells = <0>;
    bindings = <&kp AMPERSAND>, <&kp AT>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  scj: ansi_semicolon_and_colon_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_SEMICOLON_WITH_JIS";
    #binding-cells = <0>;
    bindings = <&kp SEMICOLON>, <&kp SINGLE_QUOTE>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  lbbj: ansi_left_bracket_and_left_brace_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_LEFT_BRACKET_WITH_JIS";
    #binding-cells = <0>;
    bindings = <&kp RIGHT_BRACKET>, <&kp RIGHT_BRACE>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  rbbj: ansi_right_bracket_and_right_brace_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_RIGHT_BRACKET_WITH_JIS";
    #binding-cells = <0>;
    bindings = <&kp BACKSLASH>, <&kp PIPE>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  caj: ansi_caret_and_at_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_CARET_WITH_JIS";
    #binding-cells = <0>;
    bindings = <&kp EQUAL>, <&kp LEFT_BRACKET>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  dhj: ansi_dollar_and_hash_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_DOLLAR_WITH_JIS";
    #binding-cells = <0>;
    bindings = <&kp DOLLAR>, <&kp HASH>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  ahj: ansi_at_and_hash_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_AT_WITH_JIS";
    #binding-cells = <0>;
    bindings = <&kp LEFT_BRACKET>, <&kp HASH>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  cdj: ansi_caret_and_dollar_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_CARET_DOLLAR_WITH_JIS";
    #binding-cells = <0>;
    bindings = <&kp EQUAL>, <&kp DOLLAR>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };


  n1ar: ansi_n1_and_exclamation {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N1_REVERSE";
    #binding-cells = <0>;
    bindings = <&kp EXCLAMATION>, <&kp N1>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n2ar: ansi_n2_and_left_bracket {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N2_REVERSE";
    #binding-cells = <0>;
    bindings = <&kp LEFT_BRACKET>, <&kp N2>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n3ar: ansi_n3_and_left_brace {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N3_REVERSE";
    #binding-cells = <0>;
    bindings = <&kp LEFT_BRACE>, <&kp N3>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n4ar: ansi_n4_and_left_parenthesis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N4_REVERSE";
    #binding-cells = <0>;
    bindings = <&kp LEFT_PARENTHESIS>, <&kp N4>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n5ar: ansi_n5_and_percent {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N5_REVERSE";
    #binding-cells = <0>;
    bindings = <&kp PERCENT>, <&kp N5>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n6ar: ansi_n6_and_ampersand {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N6_REVERSE";
    #binding-cells = <0>;
    bindings = <&kp AMPERSAND>, <&kp N6>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n7ar: ansi_n7_and_right_parenthesis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N7_REVERSE";
    #binding-cells = <0>;
    bindings = <&kp RIGHT_PARENTHESIS>, <&kp N7>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n8ar: ansi_n8_and_right_brace {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N8_REVERSE";
    #binding-cells = <0>;
    bindings = <&kp RIGHT_BRACE>, <&kp N8>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n9ar: ansi_n9_and_right_bracket {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N9_REVERSE";
    #binding-cells = <0>;
    bindings = <&kp RIGHT_BRACKET>, <&kp N9>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n0ar: ansi_n0_and_asterisk {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N0_REVERSE";
    #binding-cells = <0>;
    bindings = <&kp ASTERISK>, <&kp N0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  caa: ansi_caret_and_at {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_EXCLAMATION";
    #binding-cells = <0>;
    bindings = <&kp CARET>, <&kp AT>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  dha: ansi_dollar_and_hash {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_DOLLAR_HASH";
    #binding-cells = <0>;
    bindings = <&kp DOLLAR>, <&kp HASH>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  aha: ansi_at_and_hash {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_AT_HASH";
    #binding-cells = <0>;
    bindings = <&kp AT>, <&kp HASH>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  cda: ansi_caret_and_dollar {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_CARET_DOLLAR";
    #binding-cells = <0>;
    bindings = <&kp CARET>, <&kp DOLLAR>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  ltlt: ansi_lt_and_lt {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_LT_LT";
    #binding-cells = <0>;
    bindings = <&kp LT>, <&kp LT>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  gtgt: ansi_gt_and_gt {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_GT_GT";
    #binding-cells = <0>;
    bindings = <&kp GT>, <&kp GT>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };

  n1jr: ansi_n1_and_exclamation_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N1_WITH_JIS_REVERSE";
    #binding-cells = <0>;
    bindings = <&kp EXCLAMATION>, <&kp N1>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n2jr: ansi_n2_and_left_bracket_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N2_WITH_JIS_REVERSE";
    #binding-cells = <0>;
    bindings = <&kp RIGHT_BRACKET>, <&kp N2>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n3jr: ansi_n3_and_left_brace_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N3_WITH_JIS_REVERSE";
    #binding-cells = <0>;
    bindings = <&kp RIGHT_BRACE>, <&kp N3>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n4jr: ansi_n4_and_left_parenthesis_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N4_WITH_JIS_REVERSE";
    #binding-cells = <0>;
    bindings = <&kp ASTERISK>, <&kp N4>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n5jr: ansi_n5_and_percent_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N5_WITH_JIS_REVERSE";
    #binding-cells = <0>;
    bindings = <&kp PERCENT>, <&kp N5>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n6jr: ansi_n6_and_ampersand_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N6_WITH_JIS_REVERSE";
    #binding-cells = <0>;
    bindings = <&kp CARET>, <&kp N6>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n7jr: ansi_n7_and_right_parenthesis_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N7_WITH_JIS_REVERSE";
    #binding-cells = <0>;
    bindings = <&kp LEFT_PARENTHESIS>, <&kp N7>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n8jr: ansi_n8_and_right_brace_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N8_WITH_JIS_REVERSE";
    #binding-cells = <0>;
    bindings = <&kp PIPE>, <&kp N8>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n9jr: ansi_n9_and_right_bracket_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N9_WITH_JIS_REVERSE";
    #binding-cells = <0>;
    bindings = <&kp BACKSLASH>, <&kp N9>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  n0jr: ansi_n0_and_asterisk_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "ANSI_N0_WITH_JIS_REVERSE";
    #binding-cells = <0>;
    bindings = <&kp DOUBLE_QUOTES>, <&kp N0>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };

  ctrld: lctrl_dot {
    compatible = "zmk,behavior-mod-morph";
    label = "LCTRL_DOT";
    #binding-cells = <0>;
    bindings = <&kp LCTRL>, <&kp DOT>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  comcom: comma_comma {
    compatible = "zmk,behavior-mod-morph";
    label = "COMMA_COMMA";
    #binding-cells = <0>;
    bindings = <&kp COMMA>, <&kp COMMA>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  dotdot: dot_dot {
    compatible = "zmk,behavior-mod-morph";
    label = "DOT_DOT";
    #binding-cells = <0>;
    bindings = <&kp DOT>, <&kp DOT>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  ltgra: lt_grave {
    compatible = "zmk,behavior-mod-morph";
    label = "LT_GRAVE";
    #binding-cells = <0>;
    bindings = <&kp LT>, <&kp GRAVE>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  gttld: gt_tilde {
    compatible = "zmk,behavior-mod-morph";
    label = "GT_TILDE";
    #binding-cells = <0>;
    bindings = <&kp GT>, <&kp TILDE>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  ltgraj: lt_grave_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "LT_GRAVE_WITH_JIS";
    #binding-cells = <0>;
    bindings = <&kp LT>, <&kp LEFT_BRACE>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
  gttldj: gt_tilde_with_jis {
    compatible = "zmk,behavior-mod-morph";
    label = "GT_TILDE_WITH_JIS";
    #binding-cells = <0>;
    bindings = <&kp GT>, <&kp PLUS>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
  };
